body{
    margin: 0;
    font-family: system-ui, sans-serif;
    height: 100vh;
}

.root {
    height: auto;
}

.app-root {
    display: grid;
    grid-template-columns: 250px auto;
    height: 100vh;
}

.sidebar {
    padding: 20px;
    background: #262323;
    position: relative;
    height: 100%;
}

.sidebar section {
    display: flex;
    justify-content: center;
    position: fixed;
    flex-direction: column;
}

.sidebar section img {
    align-self: center;
}

.sidebar ul {
    list-style: none;
    padding: 0 10px;
}

.sidebar ul li {
    padding: 20px 0;
    font-size: 20px;
    text-transform: uppercase;
}
.sidebar ul li a {
    text-decoration: none;
    color: #fff;
}

.main-container {
    padding: 20px;
}

#error-page {
    display: grid;
    place-items: center;
}

.posts {
    border: 1px solid;
    border-radius: 6px;
    padding: 20px;
    margin: 5px 0;
}

.posts label {
    font-size: 20px;
    font-weight: 500;
}

/* tic tac toe styles */
.board-row {
    display: flex;
}

.square {
    height: 75px;
    width: 75px;
}
